Projects/**
Data/**
Fonts/**
Build/**
.idea/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Binaries/
DerivedDataCache/
Intermediate/
Plugins/*/*/Binaries/
Plugins/*/*/Intermediate/
Programs/UnrealHeaderTool/
Programs/UnrealPak/
Saved/
Shaders/Binaries/
Source/*/*/*/obj/
Source/*/*/obj/
Source/*/obj/
Build/*
Projects/*

Data/
Fonts/

*.sln
*.vs
